* {
    box-sizing: border-box;

}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    color: #2c3e50;
    background-color: #EDD2C8;
    margin: 0;
}

header {
    font-family: 'Leckerli One', cursive;
    font-size: 2em;
    color: #f53b57;
    height: 18vh;
    padding: 20px;
    justify-content: center;
    /* border: 1px solid black; */
}

.inputSection{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid blue; */
    height: 7vh;
    /* width: 75vw; */
}

.inputTarea, .inputBuscar{
    border-color: aqua;
    border-radius: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    width: 30vw;
    text-indent: 1em;

    color: transparent;
    text-shadow: 0 0 0 #2196f3;
    /* text-shadow: 0 0 0 #2c3e5; */

    &:focus {
        outline: none;
    }
}




/* .two {
    display: grid;
    grid-template-rows: max-content 0.5fr 0.8fr minmax(20vh, 70vh) 0.5fr 1fr;
    height: 120vh;
}

.two > div:first-child{
    background-color: #006266;
    text-transform: uppercase;
    font-size: 8em;
    padding: 1rem;
    border-bottom: 3px solid firebrick;
}


.two > input {
    grid-row: 3;
    width: 25%;
    padding-left: 1rem;
} */



.tareas {
    /* grid-row: 4; */
    display: flex;
    /* margin: 2rem; */
    /* border: 1px solid green; */
    height: auto;
    width: fit-content;
    margin: 15px;
}

.tareas > div {
    border: 0.15em solid #2F52A0;
    /* background-color: #fff3e0; */
    border-radius: 5px;
    height: max-content;
    width: 20vw;
    padding: 10px;
    margin: 10px;
}

div[class^="tareaBox"] {
    display: flex;
}

div[class^="tareaBox"] > :nth-child(1) {
    /* border: 1px solid red; */
    flex: 1;
    width: 10vh;
}

div[class^="percentageBox"] {
    /* border: 1px solid red; */
    display: flex;
    height: 2vh;
    /* width: 10vw; */
}

div[class^="subTareas"] {
    /* border: 1px solid green; */
    margin-top: 20px;
    margin-left: 5px;
}

div[class^="subTarea"] {
    border-bottom: 1px solid #fa983a;
    padding: 5px 0 10px 0;
}

div[class^="subTarea"] > :nth-child(1){
    margin-bottom: 10px;
    
}


input[class^="subInputBar"] {
    /* border: 1px solid green; */
    border-color: #2F52A0;
    border-radius: 1rem;
    text-indent: 0.8rem;
}
/* #p1 {
    border: 1px solid red;
    flex: 0.5;
} */

/* ///////////////////////////////////button */

*:focus {
    outline: none;
}


button {

        font-size: 15px;
        background: none;
        border: none;
        color: #28B9B5;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        line-height: 1.1;
        margin-left: 10px;
}

.fa-bomb{
    color: black;
}

.fa-times-circle {
    color: rgb(241, 24, 71);
}

.fa-check-circle{
    color: #16a085;
}


/* button:active { transform: translateY(4px); } */
button:hover {transform: translateY(-2px);}




/* input[type=checkbox]{
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

input[type=checkbox]{
    /* display: none; 
}

input[type=checkbox]::before {
    content: "\2714";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    /* display: inline-block; 
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
  }
  
  input[type=checkbox]:active:before {
    transform: scale(0);
  }
  
  input[type=checkbox]:checked:before {
    background-color: MediumSeaGreen;
    border-color: MediumSeaGreen;
    color: #fff;
  } */
